@model MazeSharp.Web.ViewModels.Home.IndexViewModel
<script type="text/javascript">
    var mazeJson = "@Model.MazeJson";
</script>

@section Header {
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="maze-width">Width</label>
            <input type="text" class="form-control" id="maze-width" placeholder="Width">
        </div>
        <div class="form-group">
            <label class="sr-only" for="maze-height">Height</label>
            <input type="text" class="form-control" id="maze-height" placeholder="Height">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="is-perfect" checked="checked"> Perfect
            </label>
        </div>
        <button type="button" id="generate-maze" class="btn btn-success">Generate</button>
        <button type="button" id="clear-maze" class="btn btn-danger">Clear</button>
    </form>
}

@section SidePanel {
    <h2>Player</h2>
    <p>
        <strong>Current:</strong> @(Model.LoadedPlayer ?? "None")
    </p>
    <div class="form-group">
        <button type="button" id="solve-maze" class="btn btn-success btn-block" @(Model.LoadedPlayer == null ? "disabled" : "")>Solve</button>
    </div>
    <div class="form-group">
        <button type="button" id="solve-stop" class="btn btn-danger btn-block" @(Model.LoadedPlayer == null ? "disabled" : "")>Stop</button>
    </div>

    @if (Model.Teams != null && Model.Teams.Any())
    {
        <ul>
            @foreach (var team in Model.Teams)
            {
                <li>
                    @team.Name
                    <ul>
                        @foreach (var player in team.Players)
                        {                            
                            <li>
                                <a class="btn btn-default btn-xs" href="/?player=@player&team=@team.Name">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    @player
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }

    <div class="form-group">
        @Html.ActionLink("Code Editor", "Index", "CodeEditor", null, new {@class = "btn btn-primary", target = "codewindow"})
    </div>

    <div class="message">@Model.Message</div>
    <div id="countdown" class="pull-left"></div>
    <div id="visited-counter" class="pull-right"></div>
    <div class="visited-number">
        Visited: <span id="visited-number">1</span>
    </div>
    <div class="visited-number">
        Total Moves: <span id="total-moves">1</span>
    </div>
    <div class="visited-number">
        Efficiency: <span id="algorithm-efficiency">1</span>
    </div>

}

@section ExtraJavaScript {
    <script src="/js/jquery.countdown360.js"></script>
    <script src="/js/circle-progress.js"></script>
    <script src="/js/application.js"></script>
}

<div id="box"></div>